<%

    const collection = 'items';
    const folderUpload = 'uploads/' + collection + '/';

%>
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active">Danh sách sản phẩm</li>
    </ul>
    <h3> Danh sách sản phẩm <small class="pull-right"> 40 sản phẩm có sẵn </small></h3>
    <hr class="soft" />
    <form class="form-horizontal span6">
        <div class="control-group">
            <label class="control-label alignL">Lọc sản phẩm</label>
            <select>
                <option>Xếp theo tên A - Z</option>
                <option>Xếp theo tên Z - A</option>
                <option>Giá thấp nhất</option>
                <option>Giá cao nhất</option>
            </select>
        </div>
    </form>
    <div id="myTab" class="pull-right">
        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
    </div>
    <br class="clr" />
    <div class="tab-content">
        <div class="tab-pane" id="listView">
            <div class="row">
                <div class="span2">
                    <img src="frontend/images/3.jpg" alt="" />
                </div>
                <div class="span4">
                    <h3>Mới | Sẵn có</h3>
                    <hr class="soft" />
                    <h5>Tên sản phẩm </h5>
                    <p>Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với xu hướng thời trang mới nhất - đó là lý do hàng hóa của chúng tôi rất phổ biến ...</p>
                    <a class="btn btn-small pull-right" href="/detail">Xem chi tiết</a>
                    <br class="clr" />
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox"> Thêm sản phẩm và giỏ hàng
                        </label><br />
                        <a href="/detail" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="/detail" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                    </form>
                </div>
            </div>
            <hr class="soft" />
            <div class="row">
                <div class="span2">
                    <img src="frontend/images/1.jpg" alt="" />
                </div>
                <div class="span4">
                    <h3>Mới | Sẵn có</h3>
                    <hr class="soft" />
                    <h5>Tên sản phẩm </h5>
                    <p>Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với xu hướng thời trang mới nhất - đó là lý do hàng hóa của chúng tôi rất phổ biến ...</p>
                    <a class="btn btn-small pull-right" href="/detail">Xem chi tiết</a>
                    <br class="clr" />
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox"> Thêm sản phẩm và giỏ hàng
                        </label><br />
                        <a href="/detail" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="/detail" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                    </form>
                </div>
            </div>
            <hr class="soft" />
            <div class="row">
                <div class="span2">
                    <img src="frontend/images/3.jpg" alt="" />
                </div>
                <div class="span4">
                    <h3>Mới | Sẵn có</h3>
                    <hr class="soft" />
                    <h5>Tên sản phẩm </h5>
                    <p>Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với xu hướng thời trang mới nhất - đó là lý do hàng hóa của chúng tôi rất phổ biến ...</p>
                    <a class="btn btn-small pull-right" href="/detail">Xem chi tiết</a>
                    <br class="clr" />
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox"> Thêm sản phẩm và giỏ hàng
                        </label><br />
                        <a href="/detail" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="/detail" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                    </form>
                </div>
            </div>
            <hr class="soft" />
            <div class="row">
                <div class="span2">
                    <img src="frontend/images/3.jpg" alt="" />
                </div>
                <div class="span4">
                    <h3>Mới | Sẵn có</h3>
                    <hr class="soft" />
                    <h5>Tên sản phẩm </h5>
                    <p>
                        Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với xu hướng thời trang mới nhất - đó là lý do hàng hóa của chúng tôi rất phổ biến ..
                    </p>
                    <a class="btn btn-small pull-right" href="/detail">Xem chi tiết</a>
                    <br class="clr" />
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox"> Thêm sản phẩm và giỏ hàng
                        </label><br />
                        <a href="/detail" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="/detail" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                    </form>
                </div>
            </div>

            <hr class="soft" />
            <div class="row">
                <div class="span2">
                    <img src="frontend/images/3.jpg" alt="" />
                </div>
                <div class="span4">
                    <h3>Mới | Sẵn có</h3>
                    <hr class="soft" />
                    <h5>Tên sản phẩm </h5>
                    <p>Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với xu hướng thời trang mới nhất - đó là lý do hàng hóa của chúng tôi rất phổ biến ...</p>
                    <a class="btn btn-small pull-right" href="/detail">Xem chi tiết</a>
                    <br class="clr" />
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox"> Thêm sản phẩm và giỏ hàng
                        </label><br />
                        <a href="/detail" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="/detail" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                    </form>
                </div>
            </div>
            <hr class="soft" />
            <div class="row">
                <div class="span2">
                    <img src="frontend/images/3.jpg" alt="" />
                </div>
                <div class="span4">
                    <h3>Mới | Sẵn có</h3>
                    <hr class="soft" />
                    <h5>Tên sản phẩm </h5>
                    <p>Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với xu hướng thời trang mới nhất - đó là lý do hàng hóa của chúng tôi rất phổ biến ...</p>
                    <a class="btn btn-small pull-right" href="/detail">Xem chi tiết</a>
                    <br class="clr" />
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox"> Thêm sản phẩm và giỏ hàng
                        </label><br />
                        <a href="/detail" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="/detail" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                    </form>
                </div>
            </div>
            <hr class="soft" />
        </div>
        <div class="tab-pane  active" id="blockView">
            <!-- Danh sách sản phẩm -->
            <ul class="thumbnails">
            <%  var mayanh = []; %>
            <%  var thenho = []; %>
            <%  var dienthoai = []; %>
            <% for(let j = 0; j < items.length; j ++) {%>
                <% let count = items[j].category.name; %>
                <% if (count == 'Máy ảnh') {%>
                    <% mayanh.push(items[j]) %>
                <% } %>
                <% if (count == 'Thẻ nhớ và USB') {%>
                    <% thenho.push(items[j]) %>
                <% } %>
                <% if (count == 'Điện thoại di động') {%>
                    <% dienthoai.push(items[j]) %>
                <% } %>
            <% } %>
            <% mayanh.forEach((item) => { %>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="/detail/<%= item.id %>"><img src="../<%= folderUpload + item.photo %>" alt="" /></a>
                        <div class="caption">
                            <h5><%= item.name %></h5>
                            <p>
                            <%- item.infomation %>
                            </p>
                            <h4 style="text-align:center">
                                <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                        </div>
                    </div>
                </li>
            <% }) %>
            <% thenho.forEach((item) => { %>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="/detail/<%= item.id %>"><img src="../<%= folderUpload + item.photo %>" alt="" /></a>
                        <div class="caption">
                            <h5><%= item.name %></h5>
                            <p>
                            <%- item.infomation %>
                            </p>
                            <h4 style="text-align:center">
                                <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                        </div>
                    </div>
                </li>
            <% }) %>
            <% dienthoai.forEach((item) => { %>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="/detail/<%= item.id %>"><img src="../<%= folderUpload + item.photo %>" alt="" /></a>
                        <div class="caption">
                            <h5><%= item.name %></h5>
                            <p>
                            <%- item.infomation %>
                            </p>
                            <h4 style="text-align:center">
                                <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                        </div>
                    </div>
                </li>
            <% }) %>
            </ul>
            <!-- Hết danh sách sản phẩm -->
            <hr class="soft" />
        </div>
    </div>
    <div class="pagination">
        <ul>
            <li><a href="#">&lsaquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">&rsaquo;</a></li>
        </ul>
    </div>
    <br class="clr" />
</div>