<%

    const collection = 'items';
    const folderUpload = 'uploads/' + collection + '/';

%>
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active">Danh sách sản phẩm</li>
    </ul>
    
    <div class="tab-content">
        
        <div class="tab-pane  active" id="blockView">
            <!-- Danh sách sản phẩm -->
            <ul class="thumbnails">
            <%  var mayanh = []; %>
            <%  var thenho = []; %>
            <%  var dienthoai = []; %>
            <% for(let j = 0; j < items.length; j ++) {%>
                <% let count = items[j].category.name; %>
                <% if (count == 'Máy ảnh') {%>
                    <% mayanh.push(items[j]) %>
                <% } %>
                <% if (count == 'Thẻ nhớ và USB') {%>
                    <% thenho.push(items[j]) %>
                <% } %>
                <% if (count == 'Điện thoại di động') {%>
                    <% dienthoai.push(items[j]) %>
                <% } %>
            <% } %>
            <% mayanh.forEach((item) => { %>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="/detail/<%= item.id %>"><img src="../<%= folderUpload + item.photo %>" alt="" /></a>
                        <div class="caption">
                            <h5><%= item.name %></h5>
                            <p>
                            <%- item.infomation %>
                            </p>
                            <h4 style="text-align:center">
                                <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#"><%= item.price + 'đ' %></a></h4>
                        </div>
                    </div>
                </li>
            <% }) %>
            <% thenho.forEach((item) => { %>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="/detail/<%= item.id %>"><img src="../<%= folderUpload + item.photo %>" alt="" /></a>
                        <div class="caption">
                            <h5><%= item.name %></h5>
                            <p>
                            <%- item.infomation %>
                            </p>
                            <h4 style="text-align:center">
                                <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#"><%= item.price + 'đ'%></a></h4>
                        </div>
                    </div>
                </li>
            <% }) %>
            <% dienthoai.forEach((item) => { %>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="/detail/<%= item.id %>"><img src="../<%= folderUpload + item.photo %>" alt="" /></a>
                        <div class="caption">
                            <h5><%= item.name %></h5>
                            <p>
                            <%- item.infomation %>
                            </p>
                            <h4 style="text-align:center">
                                <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#"><%= item.price + 'đ' %></a></h4>
                        </div>
                    </div>
                </li>
            <% }) %>
            </ul>
            <!-- Hết danh sách sản phẩm -->
                   </div>
    </div>
   
    <br class="clr" />
</div>